# How much agency do we have over our relationships? 
i.e. Do structural or internal factors have a greater effect on divorce?

## Importing libraries

In [61]:
import pandas as pd
import numpy as np

## Uploading Dataset

In [62]:
divorce = pd.read_csv('divorce_df.csv')

In [63]:
divorce.head(20)

,age_at_marriage,marriage_duration_years,num_children,education_level,employment_status,combined_income,religious_compatibility,cultural_background_match,communication_score,conflict_frequency,...,mental_health_issues,infidelity_occurred,counseling_attended,social_support,shared_hobbies_count,marriage_type,pre_marital_cohabitation,domestic_violence_history,trust_score,divorced
0,30,1,1,Bachelor,Full-time,64001,Different Religion,1,5.536016,3,...,0,0,0,8.428183,5,Love,1,0,6.262411,1
1,27,2,2,Master,Full-time,86221,Same Religion,1,5.810172,3,...,0,1,0,5.297221,1,Love,1,0,6.769384,1
2,31,6,0,High School,Part-time,69441,Same Religion,0,6.088146,3,...,0,0,0,5.887066,1,Arranged,1,0,5.532866,1
3,35,3,2,Bachelor,Full-time,69513,Not Religious,1,6.212046,3,...,0,0,0,5.263555,5,Love,1,0,3.491264,0
4,26,2,2,No Formal Education,Full-time,63986,Different Religion,1,4.826262,1,...,0,0,1,5.771259,4,Love,1,0,10.000000,1
5,26,10,0,High School,Full-time,44605,Same Religion,0,6.825964,3,...,0,0,0,6.909350,3,Love,1,0,4.628149,0
6,35,10,2,High School,Full-time,73454,Different Religion,1,3.775491,1,...,0,0,0,7.351375,1,Love,1,0,5.753932,0
7,31,17,1,High School,Unemployed,59491,Not Religious,1,6.613021,4,...,0,0,0,8.709813,2,Love,0,0,7.010559,1
8,25,5,1,Bachelor,Full-time,40944,Not Religious,0,2.963345,0,...,0,0,0,8.727489,3,Arranged,1,0,2.428385,0
9,30,1,0,PhD,Full-time,46819,Same Religion,1,3.612109,1,...,1,0,0,5.939285,1,Arranged,1,0,8.750676,1
10,25,3,4,Bachelor,Part-time,37276,Same Religion,0,4.565048,1,...,0,0,0,4.609764,2,Love,0,0,4.240359,0
11,25,39,2,Bachelor,Unemployed,81193,Different Religion,1,6.389068,0,...,1,0,0,6.512878,3,Arranged,1,0,7.767144,0
12,29,9,3,Bachelor,Full-time,99575,Same Religion,1,6.471661,2,...,0,0,1,5.000274,4,Arranged,0,0,3.203307,1
13,18,12,2,Bachelor,Full-time,83103,Not Religious,1,4.298662,1,...,0,1,0,7.505238,6,Arranged,1,0,7.339854,0
14,19,1,3,Bachelor,Homemaker,67524,Same Religion,1,3.162700,4,...,0,0,1,8.525429,4,Arranged,0,0,2.182855,1
15,25,7,2,High School,Full-time,58690,Same Religion,1,8.412019,0,...,0,0,0,7.219046,0,Arranged,1,0,8.568000,1
16,22,1,0,Bachelor,Homemaker,54181,Not Religious,0,6.133441,3,...,1,0,0,6.430891,0,Arranged,1,0,6.732696,0
17,29,8,2,Bachelor,Full-time,40274,Same Religion,1,5.725568,9,...,0,0,1,7.167312,5,Love,1,0,6.487788,0
18,23,25,1,High School,Full-time,98935,Same Religion,0,6.728135,3,...,0,0,0,5.608493,4,Love,0,0,7.759189,1
19,20,34,1,Bachelor,Full-time,39319,Different Religion,1,4.092097,0,...,0,0,0,4.485757,5,Love,0,0,4.100519,0

In [64]:
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm

## Creating dataframes for structural factors and internal factors

In [65]:
# remove employment_status,

In [66]:
# make new df with structural variables
structural_variables = divorce[['age_at_marriage', 'num_children', 'education_level', 'combined_income', 'religious_compatibility', 'cultural_background_match', 
                        'marriage_type', 'mental_health_issues', 'divorced']].copy()

structural_variables.head()

,age_at_marriage,num_children,education_level,combined_income,religious_compatibility,cultural_background_match,marriage_type,mental_health_issues,divorced
0,30,1,Bachelor,64001,Different Religion,1,Love,0,1
1,27,2,Master,86221,Same Religion,1,Love,0,1
2,31,0,High School,69441,Same Religion,0,Arranged,0,1
3,35,2,Bachelor,69513,Not Religious,1,Love,0,0
4,26,2,No Formal Education,63986,Different Religion,1,Love,0,1

In [67]:
# making categorical variables numeric
education_mapping = {'No Formal Education': 0, 'High School': 1, 'Bachelor': 2, 'Master': 3, 'PhD': 4}
structural_variables['education_level'] = structural_variables['education_level'].map(education_mapping)
religious_mapping = {'Not Religious': 0, 'Same Religion': 0, 'Different Religion': 1}
structural_variables['religious_compatibility'] = structural_variables['religious_compatibility'].map(religious_mapping)
marriage_type_mapping = {'Love': 0, 'Arranged': 1}
structural_variables['marriage_type'] = structural_variables['marriage_type'].map(marriage_type_mapping)
structural_variables.head()

,age_at_marriage,num_children,education_level,combined_income,religious_compatibility,cultural_background_match,marriage_type,mental_health_issues,divorced
0,30,1,2,64001,1,1,0.0,0,1
1,27,2,3,86221,0,1,0.0,0,1
2,31,0,1,69441,0,0,1.0,0,1
3,35,2,2,69513,0,1,0.0,0,0
4,26,2,0,63986,1,1,0.0,0,1

In [68]:
# make new df with internal factors
internal_factors = divorce[['communication_score', 'conflict_frequency', 'conflict_resolution_style', 'infidelity_occurred', 'counseling_attended', 'social_support',
                    'pre_marital_cohabitation','domestic_violence_history', 'trust_score', 'divorced']].copy()
internal_factors.head()

,communication_score,conflict_frequency,conflict_resolution_style,infidelity_occurred,counseling_attended,social_support,pre_marital_cohabitation,domestic_violence_history,trust_score,divorced
0,5.536016,3,Collaborative,0,0,8.428183,1,0,6.262411,1
1,5.810172,3,Aggressive,1,0,5.297221,1,0,6.769384,1
2,6.088146,3,Collaborative,0,0,5.887066,1,0,5.532866,1
3,6.212046,3,Aggressive,0,0,5.263555,1,0,3.491264,0
4,4.826262,1,Passive,0,1,5.771259,1,0,10.000000,1

In [69]:
conflict_resolution_mapping = {'Avoidant': 0, 'Aggressive': 1, 'Passive': 2, 'Collaborative': 3}
internal_factors['conflict_resolution_style'] = internal_factors['conflict_resolution_style'].map(conflict_resolution_mapping)
internal_factors.head()

,communication_score,conflict_frequency,conflict_resolution_style,infidelity_occurred,counseling_attended,social_support,pre_marital_cohabitation,domestic_violence_history,trust_score,divorced
0,5.536016,3,3,0,0,8.428183,1,0,6.262411,1
1,5.810172,3,1,1,0,5.297221,1,0,6.769384,1
2,6.088146,3,3,0,0,5.887066,1,0,5.532866,1
3,6.212046,3,1,0,0,5.263555,1,0,3.491264,0
4,4.826262,1,2,0,1,5.771259,1,0,10.000000,1

## Correlation Matrix

In [ ]:
# hypothesis testing 
# logistic regression for internal factors
from statsmodels.formula.api import logit
internal_model = logit('divorced ~ communication_score + conflict_frequency + infidelity_occurred + counseling_attended + social_support + pre_marital_cohabitation + domestic_violence_history + trust_score', data=internal_factors).fit()
print(internal_model.summary())

Optimization terminated successfully.
         Current function value: 0.661097
         Iterations 4
                           Logit Regression Results
==============================================================================
Dep. Variable:               divorced   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4991
Method:                           MLE   Df Model:                            8
Date:                Mon, 08 Dec 2025   Pseudo R-squ.:                 0.01663
Time:                        17:42:23   Log-Likelihood:                -3305.5
converged:                       True   LL-Null:                       -3361.4
Covariance Type:            nonrobust   LLR p-value:                 1.639e-20
=============================================================================================
                                coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                     0.5300      0.169      3.135      0.002       0.199       0.861
communication_score          -0.0798      0.015     -5.344      0.000      -0.109      -0.051
conflict_frequency            0.0143      0.021      0.691      0.490      -0.026       0.055
infidelity_occurred           0.4432      0.081      5.497      0.000       0.285       0.601
counseling_attended           0.0513      0.068      0.751      0.452      -0.082       0.185
social_support               -0.0353      0.015     -2.373      0.018      -0.064      -0.006
pre_marital_cohabitation     -0.1155      0.059     -1.944      0.052      -0.232       0.001
domestic_violence_history     0.7361      0.132      5.587      0.000       0.478       0.994
trust_score                  -0.0553      0.015     -3.652      0.000      -0.085      -0.026
=============================================================================================

In [ ]:
# hypothesis testing 
# logistic regression for structural variables
structural_model = logit('divorced ~ age_at_marriage + num_children + education_level + employment_status + combined_income + religious_compatibility + cultural_background_match + marriage_type', data=structural_variables).fit()
print(structural_model.summary())

Optimization terminated successfully.
         Current function value: 0.670714
         Iterations 4
                           Logit Regression Results
==============================================================================
Dep. Variable:               divorced   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4984
Method:                           MLE   Df Model:                           15
Date:                Mon, 08 Dec 2025   Pseudo R-squ.:                0.002322
Time:                        17:40:59   Log-Likelihood:                -3353.6
converged:                       True   LL-Null:                       -3361.4
Covariance Type:            nonrobust   LLR p-value:                    0.4083
============================================================================================================
                                               coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------
Intercept                                   -0.5461      0.218     -2.502      0.012      -0.974      -0.118
education_level[T.High School]               0.0570      0.069      0.821      0.411      -0.079       0.193
education_level[T.Master]                    0.1279      0.080      1.607      0.108      -0.028       0.284
education_level[T.No Formal Education]      -0.1767      0.146     -1.213      0.225      -0.462       0.109
education_level[T.PhD]                       0.2861      0.142      2.018      0.044       0.008       0.564
employment_status[T.Homemaker]               0.0396      0.085      0.465      0.642      -0.127       0.206
employment_status[T.Part-time]              -0.0794      0.076     -1.039      0.299      -0.229       0.070
employment_status[T.Unemployed]              0.0535      0.085      0.626      0.531      -0.114       0.221
religious_compatibility[T.Not Religious]    -0.1244      0.093     -1.343      0.179      -0.306       0.057
religious_compatibility[T.Same Religion]    -0.0382      0.076     -0.506      0.613      -0.186       0.110
marriage_type[T.Love]                        0.0437      0.068      0.644      0.519      -0.089       0.177
marriage_type[T.Other]                      -0.1072      0.143     -0.752      0.452      -0.387       0.172
age_at_marriage                              0.0031      0.006      0.521      0.603      -0.009       0.015
num_children                                -0.0084      0.023     -0.360      0.719      -0.054       0.037
combined_income                           1.247e-06   1.47e-06      0.846      0.397   -1.64e-06    4.14e-06
cultural_background_match                   -0.0491      0.067     -0.730      0.465      -0.181       0.083
============================================================================================================